.admin{
    overflow: hidden;
    &__container{
        font-family: "Inter",sans-serif;
        
    }
    &__content{
        display: flex;
        // gap: 100px; 
    }
    &__right{
        width: 100%;
        height: 100vh;
        padding: 40px;
        overflow-y: auto;
    }


}