@use '../../styles/index' as *;

.main-app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f06d25 30vh, $background-color 30vh);
}

.main-layout-container {
  display: flex;
  gap: 24px;
  max-width: 1120px;
  width: 100%;
  margin: 24px auto;
  padding: 0 16px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-grow: 1;

  &.no-sidebar {
    justify-content: center;
    .layout-content {
      flex: unset;
      width: 100%;
      max-width: 1000px;
    }
  }

  @include tablet {
    gap: 16px;
    padding: 0 12px;
  }

  @include small-tablet {
    flex-direction: column;
    padding: 0 16px;
    margin-top: 16px;
  }

  @include mobile {
    flex-direction: column;
    padding: 0 10px;
    margin-top: 12px;
  }
}

.layout-content {
  flex: 2;
  min-width: 0;
}

.layout-sidebar {
  flex: 1;
  position: sticky;
  top: 104px;
  align-self: flex-start;
  max-height: calc(100vh - 120px);
  max-width: 350px;

  @include small-tablet {
    position: static;
    top: unset;
    width: 100%;
    max-width: 100%;
    margin-top: 16px;
  }

  @include mobile {
    position: static;
    top: unset;
    width: 100%;
    max-width: 100%;
    margin-top: 12px;
  }
}
