@use '../../styles/index' as *;

.main-app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: fit-content;
  background: linear-gradient(to bottom, #f06d25 30vh, $background-color 30vh);
  width: 100%;
}

.layout-content {
  flex-grow: 1;
}
