$primary-orange: #f06d25;
$dark-orange: #f45500;
$background-gradient-start: #ffff;
$background-gradient-end: #f06d25;
$text-color: #333;
$input-border-color: #ddd;
$white-color: #fff;
$error-color: #d8000c;
$error-bg-color: #ffd2d2;
