$primary-orange: #f06d25;
$dark-orange: #f45500;
$background-gradient-start: #ffff;
$background-gradient-end: #f06d25;
$text-color: #333;
$input-border-color: #ddd;
$white-color: #fff;
$error-color: #d8000c;
$error-bg-color: #ffd2d2;
$background-color: #ffd4bd;
$font-size-lg: 1.5rem;
$font-size-md: 1.1rem;
$font-size-sm: 1rem;
$primary-color: #f06d25;
$light-text-color: #666;
$dark-gray: #333;
$light-gray: #f4f4f4;
$border-color: #ddd;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$font-family: 'Nunito', sans-serif;
