@use '../../styles/index' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.user-profile {
  width: 55%;
  padding-left: 5vw;
  padding-top: 1rem;
  //   height: 300px;
  &__info {
    background-color: white;
    padding: 20px 20px;
    display: flex;
    border-radius: 12px;
    align-items: center;
    justify-content: space-around;
  }
  &__avatar {
    display: flex;
    align-items: center;
  }
  &__image {
    width: 6rem;
    height: 6rem;

    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      object-fit: cover;
    }
  }
  &__name {
    margin-left: 1rem;
    p:nth-of-type(1) {
      font-weight: bold;
      font-size: 18px;
      color: #27364b;
    }
    p:nth-of-type(2) {
      color: rgb(171, 169, 169);
      font-size: 12px;
    }
  }
  &__amount {
    display: flex;
    justify-content: space-around;
    &--item {
      margin-left: 3rem; // nhỏ lại nếu cần
      text-align: center;
      min-width: 80px;

      p:nth-of-type(1) {
        font-weight: bold;
        font-size: 1.5rem;
        color: #27364b;
      }

      p:nth-of-type(2) {
        color: #4b5669;
        font-size: 0.875rem;
      }
    }
  }
  &__settings {
    background-color: white;
    padding: 20px 20px 60px 20px;
    display: flex;
    border-radius: 12px;
    // align-items: center;
    // justify-content: space-around;
    margin-top: 20px;
  }
  &__sidebar {
    color: #27364b;
    font-size: 14px;
    width: 30%;
    border-right: 1px solid rgba(215, 212, 212, 0.6);
    padding-right: 12px;

    .menu-list li.active {
      background-color: #f1f4f9;
    }
    ul {
      list-style-type: none;
    }
    li {
      padding: 10px 20px;
      cursor: pointer;
      &:hover {
        background-color: #f1f4f9;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: 70%;
    height: 340px;
    &--title {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 16px;
      color: #27364b;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
    &--item {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-top: 12px!important; 
      // margin-bottom: 12px !important;
      p:nth-of-type(1) {
        width: 8rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #27364b;
      }
      p:nth-of-type(2) {
        color: #27364b;
        word-break: break-word;
      }
    }
  }
  &__edit-form{
    .ant-form-item {
        margin-bottom: 20px !important;
      }
      .ant-picker,
      .ant-input,
      .ant-radio-group {
        width: 100%;
      }
    
      .radio-horizontal {
        display: flex;
        gap: 12px; }
  }
  &__edit-form,
  &__changePassword-form {
    width: 80%;
    .ant-form-item-explain-error {
      font-size: 12px;
      //   margin-bottom: 4px;
    }
    &--item {
      // margin-bottom: px;
      .edit-input,
      .edit-datetime {
        padding: 8px 20px;
        width: 100%;
      }
      .btn-reset,
      .btn-ok {
        padding: 20px 20px !important;
        border-radius: 4px;
        font-size: 14px;
        // margin-top: 12px;
        font-weight: 700;
      }
      .btn-ok.ant-btn {
        border: 1px solid $primary-orange !important;
        background-color: $primary-orange !important;
        color: white !important;
      }
      .btn-reset.ant-btn {
        border: 1px solid $primary-orange !important;
        background-color: transparent !important;
        color: $primary-orange !important;
      }
    }
  }
}
