@use '../../styles/index' as *;

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 30px;
  background-color: $white-color;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  z-index: 1000;
  .logo {
    width: 50px;
    height: auto;
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .header-left {
    display: flex;
    align-items: center;
    span {
      font-family: 'nunito', sans-serif;
      font-weight: 900;
    }
  }
  .main-nav {
    margin-left: 170px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-self: center;
      justify-content: center;

      li {
        margin-right: 30px;

        &:last-child {
          margin-right: 0;
        }

        a {
          text-decoration: none;
          color: $dark-gray;
          font-weight: 500;
          font-size: $font-size-sm;
          position: relative;
          padding-bottom: 5px;
          font-family: $font-family;
          font-weight: 600;

          &.active {
            color: $primary-color;
            &::after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: $primary-color;
            }
          }

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }

  .header-right {
    display: flex;
    align-items: center;
    color: $dark-gray;

    > div {
      margin-left: 25px;
      cursor: pointer;
      position: relative;

      i {
        font-size: $font-size-lg;
        font-family: $font-family;
        color: $dark-gray;

        &:hover {
          color: $primary-color;
        }
      }

      .badge {
        position: absolute;
        top: -5px;
        right: -5px;
        width: 8px;
        height: 8px;
        background-color: $primary-color;
        border-radius: 50%;
        border: 1px solid $white-color;
      }
    }

    .profile-dropdown {
      display: flex;
      align-items: center;
      padding: 5px;
      .profile-menu {
        font-family: $font-family;
        font-weight: 500;
        width: 200px;
        display: none;
        position: absolute;
        list-style: none;
        top: 50px;
        right: -24px;
        background-color: $white-color;
        box-shadow: $box-shadow;
        border-radius: 8px;
        z-index: 1000;
        border: 1px solid $primary-color;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
        li {
          list-style: none;
          padding: 12px 20px;
          font-size: $font-size-sm;
          color: $dark-gray;
          border-bottom: 1px solid $primary-color;
          cursor: pointer;
          &:hover {
            overflow: hidden;
            color: $primary-color;
          }
        }
      }

      .profile-avatar {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 8px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .caret-down-container {
        position: relative;
        display: inline-block;
        cursor: pointer;
        padding-bottom: 10px;
        margin-bottom: -15px;
        padding-left: 10px;
        margin-left: -10px;
        .caret-down {
          border-radius: 50%;
          cursor: pointer;
          .profile-menu {
            font-family: $font-family;
            font-weight: 500;
            width: 200px;
            display: none;
            position: absolute;
            list-style: none;
            top: 40px;
            right: -15px;
            background-color: $white-color;
            box-shadow: $box-shadow;
            border-radius: 8px;
            z-index: 1000;
            border: 1px solid $primary-color;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
            li {
              list-style: none;
              padding: 12px 20px;
              font-size: $font-size-sm;
              color: $dark-gray;
              border-bottom: 1px solid $primary-color;
              cursor: pointer;
              &:hover {
                overflow: hidden;
                color: $primary-color;
              }
            }
          }
        }
      }
      i {
        font-size: $font-size-sm;
      }
    }
    .profile-dropdown:hover {
      .caret-down-container {
        .caret-down {
          color: $primary-color;
        }
      }
      .profile-menu {
        display: block;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
